.container{
    display: flex;
    justify-content: space-between;

}
.button{
    background-color: teal;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;


}

.button:disabled {
    cursor: not-allowed;
}